*.lo
*.o
*.la
Makefile
config.log
config.status
libtool
agent-config.h
.libs
plugin-config.h
agents/symagent/plugins/log-watcher/pcre-4.5/*
libpcap-0.7.2
bin
etc
include
lib
log
library/expat-1.95.7/*
symlib-config.h
agents/symagent/startup_script/*
agents/symagent/symagent
core.*
